<div class="front ">
  <div id="f1" class="front-content d-flex text-center p-4" style="background-color: #4592AF;">
    <div class="align-self-center d-grid ">

      <h3><%=recipe.recipeName %></h3>
      <h5><%=recipe.creator%></h5>
      <h5><%=recipe.createdAt.toString().substring(0,24)%></h5>
      <img class="recipeImage d-none d-lg-block " src="/images/PlaceholderImage.png" alt="Alternate Text" />
    </div>
  </div>
</div>