  <!-- footer-->
  <link rel="stylesheet" href="/css/partials/footer.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <nav id="footer" class="navbar fixed-bottom navbar-expand navbar-dark bg-dark mr-1 d-inline">
    <div class="footer-content d-flex justify-content-between mx-auto">
      <a class="social-media-link bi-instagram " href=""></a>
      <a class="social-media-link bi-youtube " href=""></a>
      <a class="social-media-link bi-twitter " href=""></a>
      <a class="social-media-link bi-linkedin " href=""></a>
      <a class="social-media-link bi-tiktok " href=""></a>
    </div>

    <div class="footer-content container-xxl navbar-nav text-center size">
      
        <a class="nav-link" href="/about">About</a>
        <div class="nav-link">|</div>
        <a class="nav-link" href="/siteMap">Site Map</a>
        <div class="nav-link">|</div>
        <a class="nav-link" href="/faq">FAQ</a>
    </div>

    <div class="footer-content navbar-nav justify-content-center mx-auto ">
      <div class="mt-1">
        <p class="text-secondary">not&nbsp;</p>
      </div>
      <div class="mt-1">
        <p class="text-light">Copyright © 2024 G24 DBW, NInc.</p>
      </div>
    </div>
  </nav>