<link rel="stylesheet" href="/css/partials/nav.css">

<!--Nav Bar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <span class="navbar-brand mb-0 d-none d-xl-flex">
    <img class="logo" src="/images/PretyLogo.png" alt="Logo" />
    <h4 class="mt-3 text-light">Desenvolvimento Basiado em Web - Recepie Generator</h4>
  </span>
  <span class="navbar-brand mb-0 d-none d-md-flex  d-xl-none">
    <img class="logo" src="/images/PretyLogo.png" alt="Logo" />
    <h4 class="mt-3 text-light">D.B.W.- Recepie Generator</h4>
  </span>
  <span class="navbar-brand mb-0 h2 d-flex  d-md-none">
    <h4 class="mt-3 text-light">D.B.W.- Recepie Generator</h4>
  </span>

  <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" aria-controlls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div id="navbarNav" class="collapse navbar-collapse justify-content-end mt-4">
    <p class="nav-item">
      <a class="nav-link text-end text-secondary" href="/personalGalery">Galeria Pessoal</a>
    </p>
    <p class="nav-item">
      <a class="nav-link text-end text-secondary" href="/metrics">Estatisticas</a>
    </p>
    <p class="nav-item">
      <a class="nav-link text-end text-secondary" href="/settings">Opções</a>
    </p>
    <p class="nav-item">
      <a class="nav-link text-end text-secondary" href="/mainPage">Logout</a>
    </p>
  </div>

</nav>