<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  <div class="mainContent bg-img bg-cover d-grid" style="background-image: url('/images/ui_background.png');">

    <h1 class="text-center my-auto">404 Page Not Found!</h1>
    <h2 class="text-center">Please return to the Main page</h2>
  </div>



</body>
<%- include("./partials/nav.ejs")  %>
<%- include("./partials/footer.ejs")  %>



</html>