<html lang="pt-PT">

<head>
<%- include("./partials/head.ejs")  %>
</head>

<body>



</body>
<%- include("./partials/logo.ejs")  %>
<%- include("./partials/nav.ejs")  %>
<%- include("./partials/footer.ejs")  %>



</html>