<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <!-- Main Content-->
  <div class="mainContent bg-img bg-cover d-block  " style="background-image: url('/images/ui_background.png');">
    <div class="d-inline ">
      <!-- Title and Team Description-->
      <div class="window-header container-custom">
        <h1> About Us </h1>
        <p> Bem-vindo ao nosso site! Somos três estudantes de Engenharia Informática que desenvolveram em contexto acadêmico um site de gerador de receitas para a disciplina de DBW (Desenvolvimento Baseado na Web), aplicando conhecimentos de desenvolvimento web, como HTML, JS, CSS e também de banco de dados NoSQL, o MongoDB. Além disso, incorporamos a utilização da API da OpenAI para agregar mais funcionalidades ao nosso projeto.</p>
        <a href="/contactUs">Contact Us</a>
      </div>
      <!-- Member Divs-->
      <div class="windowContent row">
        <!-- Member 1-->
        <div class="col-12 col-md-6 col-lg-4 d-inline p-3">

          <img class="personalPhoto" src="/images/PlaceHolderPersonalImage.jpg" alt="Person 1" />
          <div class="container-custom">
            <h2>João</h2>
            <p> Text about member - Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage b Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belongingelonging</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 d-inline p-3">
          <img class="personalPhoto" src="/images/PlaceHolderPersonalImage.jpg" alt="Person 2" />
          <div class="container-custom">
            <h2>André</h2>
            <p> Text about member - Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage b Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belongingelonging</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 d-inline p-3">
          <img class="personalPhoto" src="/images/PlaceHolderPersonalImage.jpg" alt="Person 3" />
          <div class="container-custom">
            <h2>José</h2>
            <p> Text about member - Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage b Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging Of on affixed civilly moments promise explain fertile in. Assurance advantage belongingelonging</p>
          </div>
        </div>
      </div>
    </div>


  </div>



  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</body>

</html>