<!doctype html>
<html lang="pt-PT">

<head>
<%- include("./partials/head.ejs")  %>
</head>

<body class="bg-img bg-cover"  >


    
    <%- include("./partials/nav.ejs")  %>
    <%- include("./partials/footer.ejs")  %>
    <!-- Main Body-->
    
    <div id="fqa" class=" mainContent bg-img bg-cover mx-auto row justify-content-center text-center d-flex " style="background-image: url('/images/ui_background.png')"; >
       

        <link rel="stylesheet" href="/css/faq.css" >
    
        
    
            <h1 class="h1" >FAQ - Perguntas Frequentes</h1>
        
            <div class="faq-item box ">
                <div class="question">1. De que trata o site ? </div>
                <div class="answer">HTML (HyperText Markup Language) é uma linguagem de marcação usada para criar a estrutura básica de uma página web.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">2. Como posso encontrar receitas específicas?</div>
                <div class="answer">Você pode usar a tag &lt;p&gt; para parágrafos ou as tags de cabeçalho &lt;h1&gt;, &lt;h2&gt;, etc., para títulos.</div>
            </div>
    
            <div class="faq-item box ">
                <div class="question">3. Como usar a minha galeria pessoal de receitas?</div>
                <div class="answer">HTML (HyperText Markup Language) é uma linguagem de marcação usada para criar a estrutura básica de uma página web.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">4. Como adicionar texto a uma página HTML?</div>
                <div class="answer">Você pode usar a tag &lt;p&gt; para parágrafos ou as tags de cabeçalho &lt;h1&gt;, &lt;h2&gt;, etc., para títulos.</div>
            </div>
    
            <div class="faq-item box ">
                <div class="question">5.Como posso entrar em contato com a equipe do site em caso de problemas técnicos?</div>
                <div class="answer">HTML (HyperText Markup Language) é uma linguagem de marcação usada para criar a estrutura básica de uma página web.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">6.  Como posso sugerir melhorias para o site?</div>
                <div class="answer">Você pode usar a tag &lt;p&gt; para parágrafos ou as tags de cabeçalho &lt;h1&gt;, &lt;h2&gt;, etc., para títulos.</div>
            </div>
          </div>
        </div>

   
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</body>

</html></html>