<!doctype html>
<html lang="pt-PT">

<head>
<%- include("./partials/head.ejs")  %>
</head>

<body class="bg-img bg-cover"  >


    
    <%- include("./partials/nav.ejs")  %>
    <%- include("./partials/footer.ejs")  %>
    <!-- Main Body-->
    
    <div id="fqa" class=" mainContent bg-img bg-cover mx-auto row justify-content-center text-center d-flex " style="background-image: url('/images/ui_background.png')"; >
       

        <link rel="stylesheet" href="/css/faq.css" >
    
        
    
            <h1 class="h1" >FAQ - Perguntas Frequentes</h1>
        
            <div class="faq-item box ">
                <div class="question">1. O que é Design Basiado em Web?</div>
                <div class="answer">Design Basiado em Web é um conceito que enfatiza o desenvolvimento de interfaces de usuário para web, com foco na experiência do usuário e na usabilidade dos produtos online.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">2. Como funciona o webapp de geração de receitas usando a API da OpenAI?</div>
                <div class="answer">O webapp utiliza a API da OpenAI para gerar receitas de forma automatizada. Os usuários fornecem alguns parâmetros, como ingredientes disponíveis e preferências alimentares, e a API gera uma receita personalizada com base nessas informações.</div>
            </div>
    
            <div class="faq-item box ">
                <div class="question">3. Quais tecnologias são utilizadas no projeto?</div>
                <div class="answer">O projeto utiliza Node.js para o desenvolvimento do backend, MongoDB como banco de dados para armazenar as receitas e outras informações, e tecnologias web padrão, como HTML, CSS e JavaScript, para o frontend.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">4. Posso adicionar minhas próprias receitas ao webapp?</div>
                <div class="answer">Não, o webapp permite que os usuários gerem receitas à plataforma e posteriormente edita-las.</div>
            </div>
    
            <div class="faq-item box ">
                <div class="question">5. A OpenAI é a única fonte de geração de receitas?</div>
                <div class="answer">A OpenAI é a principal fonte de geração de receitas, mas o webapp também pode incluir receitas de outras fontes, dependendo das configurações e integrações específicas do projeto.</div>
            </div>
        
            <div class="faq-item box ">
                <div class="question">6. Como posso garantir a qualidade e segurança das receitas geradas pela API da OpenAI?</div>
                <div class="answer">O webapp implementa filtros e verificações para garantir a qualidade e segurança das receitas geradas pela API da OpenAI. Além disso, os usuários podem avaliar e fornecer feedback sobre as receitas, ajudando a melhorar continuamente o sistema.</div>
            </div>
            <div class="faq-item box ">
                <div class="question">7. É possível personalizar as receitas geradas de acordo com restrições alimentares ou preferências dietéticas?</div>
                <div class="answer">Sim, o webapp permite que os usuários especifiquem restrições alimentares, preferências dietéticas e outros critérios para personalizar as receitas geradas pela API da OpenAI. Isso garante que as receitas atendam às necessidades individuais de cada usuário.</div>
            </div>
          </div>
        </div>

   
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</body>

</html></html>