<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="bg-img bg-cover">

  <!-- Main Body-->
  <div class="mainContent d-flex justify-content-center">

    <!--Botões de login e registo-->
    <div id="authenticationButtons" class="d-flex justify-content-between mx-auto position-absolute">
      <button id="loginButton" type="button" class="btn btn-light btn-lg border border-secondary border-4">Login</button>
      <button id="registerButton" type="button" class="btn btn-light btn-lg border border-secondary border-4">Register</button>
    </div>

    <!--Janela de Login-->
    <section id="loginWindow" class="d-none authentication-window bg-img bg-cover position-absolute row justify-content-center" style="background-image: url('/images/BackgroundWindow.png');">
      <div class="title container-lg text-center ">
        <h2>Login</h2>
      </div>
      <form class="d-grid justify-content-center ">
        <button id="loginWihGoogle" type="button" class="btn btn-light">Login with google</button>
        <p class="text-center align-middle">Or</p>
        <input name="username" type="text" placeholder="username" />
        <input name="password" type="text" placeholder="password" />
        <div class="d-flex justify-content-between">
          <input class="w-45" type="submit" value="Login" />
          <input class="w-45" type="submit" value="Back" />
        </div>
      </form>
    </section>

    <!--Janela de Registo-->
    <section id="registerWindow" class="d-none authentication-window bg-img bg-cover position-absolute row justify-content-center" style="background-image: url('/images/BackgroundWindow.png');">
      <div class="title container-lg text-center ">
        <h2>Register</h2>
      </div>
      <form class="d-grid justify-content-center ">
        <button id="loginWihGoogle" type="button" class="btn btn-light">Login with google</button>
        <p class="text-center align-middle">Or</p>
        <input name="email" type="text" placeholder="e-mail" />
        <input name="username" type="text" placeholder="username" />
        <input name="password" type="text" placeholder="password" />
        <div class="d-flex justify-content-between">
          <input class="w-45" type="submit" value="Register" />
          <input class="w-45" type="submit" value="Back" />
        </div>
      </form>
    </section>
  </div>
  <%- include("./partials/logo.ejs")  %>
  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>
  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

</body>

</html>