<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="bg-img bg-cover">
  <!--openAI key -->
  <!-- Main Body-->
  <div class="mainContent d-flex ">

    <section id="login-window" class="authentication-window bg-img bg-cover mx-auto row justify-content-center text-center "    >
      <div>
        <h4 class="ui-text">Don't have an account?</h4>
        <input id="signup-button" class="btn btn-light mx-auto m-1 sumbit_btn" type="submit" value="SignUp" />
        <h1 class="ui-text">Welcome</h1>
      </div>

      <form id="login-zone" class="authentication-zone d-grid bg-dark w-75 p-3">
        <div class="d-flex m-1">
          <button id="login-with-google" type="button" class="btn btn-light">Login with google</button>
          <i class="bi bi-google input-icon"></i>
        </div>
        <h5>Or</h5>
        <div class="d-flex m-1">
          <input class="text-center" name="username" type="text" placeholder="Username" />
          <i class="bi bi-person-circle input-icon"></i>
        </div>
        <div class="d-flex m-1">
          <input class="text-center" name="password" type="text" placeholder="Password" />
          <i class="bi bi-lock-fill input-icon"></i>
        </div>
        <input id="login-button" class="btn btn-light mx-auto m-1 sumbit_btn" type="submit" value="Login" />
        <a href="/forgot-password">Forgot password?</a>
      </form>
    </section>

    <section id="register-window" class="d-none authentication-window bg-img bg-cover mx-auto row justify-content-center " style="background-image: url('/images/ui_background.png');">
      <div class="text-center">
        <p></p>
        <h4 class="ui-text">We are very happy to have you here!</h4>
        <h1 class="ui-text">SignUp</h1>
      </div>
      <form id="register-zone" class="authentication-zone d-grid bg-dark w-75 p-3">
        <div class="d-flex m-1">
          <input class="text-center" name="email" type="text" placeholder="Email" />
          <i class="bi bi-envelope-at input-icon"></i>
        </div>
        <div class="d-flex m-1">
          <input class="text-center" name="username" type="text" placeholder="Username" />
          <i class="bi bi-person-circle input-icon"></i>
        </div>
        <div class="d-flex m-1">
          <input class="text-center" name="password" type="text" placeholder="Password" />
          <i class="bi bi-lock-fill input-icon"></i>
        </div>
        <div class="d-flex m-1">
          <input class="text-center" name="password" type="text" placeholder="Confirm Password" />
          <i class="bi bi-lock-fill input-icon"></i>
        </div>
        <div class="d-flex justify-content-between">
          <input id="register-button" class=" btn btn-light mx-auto m-1 sumbit_btn" type="submit" value="SignUp" />
          <input id="back-button" class=" btn btn-light mx-auto m-1 sumbit_btn" type="submit" value="Back" />
        </div>
      </form>
    </section>
  </div>
  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>
  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>