<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/mainPage.css">
</head>

<body class="bg-img bg-cover">
  <!-- Logotipo-->

  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <!-- Main Content-->
  <div class="mainContent bg-img bg-cover d-grid" style="background-image: url('/images/ui_background.png');">




    <div class="d-inline ">
      <!-- Title and Filter-->
      <div>
        <div class="window-header d-flex justify-content-between align-items-end">
          <h1 class="ui-text"> Repecie Gallery </h1>
          <div class="w-50 d-flex justify-content-center">
            <input id="searchBox" class="input-sm " name="Search for recepies" type="text" placeholder="Search" />
            <a id="filterButton" type="button"><i class="bi bi-funnel input-icon"></i></a>
          </div>
        </div>
        <!--Filter Window-->
        <div id="filterWindow" class="d-none">
          <form class="d-grid p-4 ">

            <div class="row">
              <!--Ingredient col-->
              <div class="col-md-6 filterOptions">
                <div id="ingredientList" >
                  <div class="row">
                    <input class="col-10" name="Ingredient" type="text" placeholder="Ingredient" />
                    <button class="removeBtn col-2">-</button>
                  </div>
                </div>

                <div class="row">
                  <button id="moreIng" class="addBtn">+ </button>
                </div>
              </div>
              <!--Method col-->
              <div class="col-md-6 filterOptions">
                <div id="methodList">
                  <div class="row">
                    <select itemid="methods" class="col-10" name="cookingMethods" id="cookingMethods">
                      <option value="Method 1">Method 1</option>
                      <option value="Method 2">Method 2</option>
                      <option value="Method 3">Method 3</option>
                      <option value="Method 4">Method 4</option>

                    </select>
                    <button class="removeBtn">-</button>
                  </div>
                </div>

                <button id="moreMethod" class="addBtn">+ </button>
              </div>
            </div>


            <input id="search-filter" class="btn-md mx-auto mt-3" type="submit" value="Filter" />

          </form>
        </div>

      </div>
      <!-- NEW RECEPIE BUTTON-->
      <div class="d-flex justify-content-center">

        <a href="/recepieGenerator"><button id="newRecepieButton" class="m-3 sumbit_btn btn btn-light">
            <h5>Generate new recepie</h5>
          </button></a>
      </div>

      <!-- Recepies container -->
      <div>
        <% if (recepies.length > 0) { 
                    recepies.forEach(recepie => { %>

        <section class="recepieContainer  d-flex">
          <img class="recepieImage d-none d-lg-block" src="/images/PlaceholderImage.png" alt="Alternate Text" />

          <div class="p-2">
            <div class="d-block d-sm-flex  align-items-end">
              <h3><%=recepie.title %></h3>
              <h5> - creator name</h5>
            </div>
            <div class="d-flex ">
              <img class="rating " src="/images/Rating.png" alt="rating" />
              <p class="d-none d-sm-block"> - 500 ratings</p>
            </div>
            <p class="d-sm-none"></p>
            <div class="d-block  ">
              <h5> Description -</h5>
              <p class="d-none d-sm-block"> Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive.</p>
              <p class="d-sm-none"> SHORT VERSION Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not.</p>
            </div>
            <div class="d-block ">
              <h5> Ingredients -</h5>
              <p> Assurance, advantage, belonging, happiness, departure, sincerity, intention, allowance.</p>
            </div>
            <div class="d-none d-sm-block ">
              <h5> tags -</h5>
              <p> Assurance, advantage, belonging.</p>
            </div>
          </div>
        </section>
        <%  });}
        else{%>
        <h3>No Recepies to be displayed</h3>
        <% }%>

      </div>
    </div>





    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/mainPage.js"></script>

</body>

</html>