<!doctype html>
<html lang="pt-PT">

<head>
    <%- include("./partials/head.ejs")  %>

    <link rel="stylesheet" href="/css/pmetrics.css">



</head>

<body class="bg-img bg-cover"  >

    <%- include("./partials/logo.ejs")  %>
    <%- include("./partials/nav.ejs")  %>
    <%- include("./partials/footer.ejs")  %>


    <!-- Main Body-->
    <div class="mainContent d-flex justify-content-center">
         <div class="row" id="showcase">

            <div class = col-md-4>
                <article>
                    <h2>Grafico Receitas Criadas</h2>
                    <img class="graph" src="../public/images/PretyLogo.png" alt=""/>
                </article>
            </div>
    
            <div class = col-md-4>
                <article>
                    <h2>Grafico Receitas Publicadas</h2>
                    <img class="graph" src="../public/images/PretyLogo.png" alt=""/>
                </article>
            </div>
    
            <div class = col-md-4>
                <article>
                    <h2>Grafico de Likes</h2>
                    <img class="graph" src="../public/images/PretyLogo.png" alt=""/>
                </article>
            </div>
    
            <div class = col-md-4>
                <article>
                    <h2>Comentarios Feitos</h2>
                    <img class = "graph" src="../public/images/PretyLogo.png" alt=""/>
                </article>
            </div>
    
            <div class = col-md-4>
                <article>
                    <h2>Grafico Comentarios</h2>
                    <img class = "graph" src="../public/images/PretyLogo.png" alt=""/>
                </article>
            </div>    
        </div>
    </div>




    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</body>

</html>