<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/recepie.css">
</head>

<body class="bg-img bg-cover">


  <!-- Main Body-->
  <div class="mainContent d-flex justify-content-center bg-img bg-cover" style="background-image: url('/images/ui_background.png');">
    <button id="prev-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-left"></i>
    </button>

    <div id="recepie">
      <div id="p1" class="paper  ">
        <div class="front ">
          <div id="f1" class="front-content d-flex text-center" style="background-color: #4592AF;">
            <div class="align-self-center d-grid ">
              <h1>Recepie Name</h1>
              <h3>Creator</h3>
              <h3>Date</h3>
              <img class="recepieImage d-none d-lg-block " src="/images/PlaceholderImage.png" alt="Alternate Text" />
            </div>
          </div>
        </div>
        <div class="back bg-white">
          <div id="b1" class="back-content d-inline-block p-5">
            <h3>Recepie Name</h3>
            <h5>Description</h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at lacinia lacus. Morbi vulputate tortor id justo vestibulum dictum. Vestibulum gravida congue magna id malesuada. </p>

            <p> Integer et porta ante. Vestibulum ante mauris, consequat eget nibh at, vehicula varius nisi. </p>

          </div>
        </div>
      </div>


      <div id="p2" class="paper ">
        <div class="front bg-white">
          <div id="f2" class="front-content d-inline-block p-5">
            <h6>Ingredients:</h6>
            <div class=" d-flex justify-content-between">
              <div>Ingredient 1</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Ingredient 2</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Ingredient 3</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Ingredient 4</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Ingredient 5</div>
              <div>qty </div>
            </div>
            <p></p>
            <div class="row d-flex justify-content-between ">
              <i class="bi bi-stopwatch col text-beggining"> 30 min</i>
              <i class="bi bi-clipboard-data text-center col"> Easy</i>
              <i class="bi bi-person col text-end">4</i>

            </div>


          </div>
        </div>
        <div class="back bg-white">
          <div id="b2" class="back-content d-inline-block p-5">
            <h6>Per Dose:</h6>
            <div class=" d-flex justify-content-between">
              <div>Calories</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Proteins</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Saturated Fats</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Unsaturated Fats</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Cholesterol</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Carbohydrates</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Sugar</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Vitamins</div>
              <div>qty </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Minerals</div>
              <div>qty </div>
            </div>
          </div>
        </div>
      </div>


      <div id="p3" class="paper">
        <div class="front bg-white">
          <div id="f3" class="front-content d-grid p-5 justify-content-start">
            <h6>Preparation:</h6>
            <i class="bi bi-dot">STEP 1</i>
            <i class="bi bi-dot">STEP 1</i>
            <i class="bi bi-dot">STEP 2</i>
            <i class="bi bi-dot">STEP 3</i>
            <i class="bi bi-dot">STEP 4</i>
            <i class="bi bi-dot">STEP 5</i>
            <i class="bi bi-dot">STEP 6</i>
            <i class="bi bi-dot">STEP 7</i>
            <i class="bi bi-dot">STEP 8</i>
            <i class="bi bi-dot">STEP 9</i>
            <i class="bi bi-dot">STEP 10</i>
            <i class="bi bi-dot">STEP 11</i>
            <i class="bi bi-dot">STEP 12</i>
          </div>
        </div>
        <div class="back bg-white" >
          <div id="b3" class="back-content d-grid p-5 justify-content-start">
            <i class="bi bi-dot">STEP 1</i>
            <i class="bi bi-dot">STEP 13</i>
            <i class="bi bi-dot">STEP 14</i>
            <i class="bi bi-dot">STEP 15</i>
            <i class="bi bi-dot">STEP 16</i>
            <i class="bi bi-dot">STEP 17</i>
            <i class="bi bi-dot">STEP 18</i>
            <i class="bi bi-dot">STEP 19</i>
            <i class="bi bi-dot">STEP 20</i>
            <i class="bi bi-dot">STEP 21</i>
            <i class="bi bi-dot">STEP 22</i>
            <i class="bi bi-dot">STEP 23</i>
            <i class="bi bi-dot">STEP 24</i>
          </div>
        </div>
      </div>

      <div id="p4" class="paper">
        <div class="front bg-white ">
          <div id="f4" class="front-content d-grid p-5 justify-content-start">
            <h1>Comments:</h1>
            <p>Comment 1</p>
            <p>Comment 2</p>
            <p>Comment 3</p>

            
          </div>
        </div>
        <div class="back" style="background-color: #4592AF;">
          <div id="b4" class="back-content d-inline-block p-5">
            
          </div>
        </div>
      </div>
    </div>





    <button id="next-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/recepie.js"></script>
</body>

</html>ml>