.mainContent{
    background-color: #c9a561;
    border-radius: 50px;
}

.window-header {
    height: auto;
    text-justify:auto;
    margin-bottom:20px;
}

.windowContent {
    height: auto;
    display: flex;
}
p {
    text-align: justify;
    word-break: break-word;
}

.personalPhoto{
width: 100%;
}