/*Logotipo*/
#logo {
    top: 10vh;
    left: 1.5vw;
    height: 150px;
    width: 150px;
}

/*Div do botão de login e registo*/
#authenticationButtons {
    position: absolute;
    top: 70%;
    left: auto;
    right: auto;
    width: 40%;
}

/*Janelas de login e registo*/
.authentication-window {
    top: 20%;
    left: auto;
    right: auto;
    width: 300px;
    height: 380px;
}

    .authentication-window .title {
        margin-top: 20px;
        height: 50px;
    }

    .authentication-window form {
        margin-bottom: 40px;
    }

        .authentication-window form > * {
            width: 100%;
            margin-top: 10px;
        }


/*footer*/
#footer a {
    width:20%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 0px;
    text-align:center;
}



/*Aux ao bootstrap /Custom */
.w-45 {
    width: 45%;
}
.p-0{
    padding: 0px 0px;
}

.btn-lg {
    height: 60px;
    width: 160px;
    border: 50px;
}
