body {
    background: url('../images/Background.png') no-repeat center center fixed;
    background-size: cover;

}

.mainContent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5% 5%;
    min-width: 280px;
    width: 90%;
    min-height: 70vh;
    border-radius: 50px;
}

/*Aux ao bootstrap /Custom */
.w-45 {
    width: 45%;
}

.p-0 {
    padding: 0px 0px;
}

.btn-lg {
    height: 60px;
    width: 160px;
    border: 50px;
}