/*Contact window Specific*/

#cu {
    border-radius: 50px;
    border: 5px solid #023047;
}

.contact-window {
    width: 100%;
    min-width: 280px;


}

.contact-window form * {
    margin: 5px 5px;
    height: 40px;
}

.contact-window .input-sm {
    width: 50%;
    min-width: 150px;
}

#messageBox {
    width: auto;
    height: 250px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    min-width: 180px;
}

/*Confirmation window*/
#confirmationWindow {
    top: 40%;
    border-radius: 50px;
}


/*Common*/
.window-title {
    height: 40px;
}

#windowContent {
    height: calc(100% - 40px);

}