
.h1 {
    text-align: left;
}



.faq-item {
    margin-bottom: 20px;
    text-align: left;
}

.question {
    font-weight: bold;
    color: #000305;
    text-align: left; /* Centraliza o texto das perguntas */
}

.answer {
    color: #3a3939;
    text-align: left;
}