.box{
    background-color: #c9a561;
    padding: 20px;
    margin-bottom: 20px; /* Espaçamento entre as caixas */
    border-radius: 10px;   
}

#fqa{
    border-radius: 50px;
    border: 5px solid #023047;
}

.h1 {
    text-align: left;
}

.faq-item {
    margin-bottom: 20px;
    text-align: left;
}

.question {
    font-weight: bold;
    color: #000305;
    text-align: left; /* Centraliza o texto das perguntas */
}

.answer {
    color: #3a3939;
    text-align: left;
}