/* Estilo para o contêiner principal */
#personalG{
    border-radius: 50px;
    border: 5px solid #023047;
}


.mainContent {
    padding: 20px; 
}

/* Estilo para cada quadrado de receita */
.recipeSquare {
    width: 300px; 
    height: 300px; 
    background-color: #c9a561; 
    border: 1px solid #023047; 
    border-radius: 10px;
    margin: 10px; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Estilo para a imagem dentro do quadrado */
.recipeSquare img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    margin-bottom: 15px; 
}

/* Estilo para o título da receita */
.recipeSquare h2 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

/* Estilo para a descrição da receita */
.recipeSquare p {
    font-size: 16px; 
    color: #666666; 
    margin-bottom: 0; 
}

