
/*Page main content*/

.filterOptions {
    margin-top: 10px;
    min-width: 150px;
}

.recepieContainer {
    margin: 10px 10px;
    padding: 10px 10px;
    
}
    .recepieContainer .recepieImage {
        height: 200px;
        width: 200px;
    }

/*Rating img - to be implemented*/
.rating{
    height: 20px;
}
/*filter Img*/
#filter{
    width: 30px;
    height: 30px;
}

.input-sm {
    margin: 3px 3px;
    min-width: 80px;
    height: 30px;
    width: 80%;
}

.addBtn {
    margin: 3px 3px;
    height: 30px;
    width: 30px;
}
.removeBtn {
    margin: 3px 3px;
    height: 30px;
    width: 30px;
}

