#met {
    border-radius: 50px;
    border: 5px solid #023047;
}


.graph {
    width: 100px;
    height: 100px;
    background-color: #023047;
    opacity: 80%;
}

.graph-container {
    width: 150px;
    height: 150px;
}

h1 {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: #F6F5F5;
    -webkit-text-stroke: 1px #023047;

}

h2 {
    width: 300px;
    color: #F6F5F5;
    -webkit-text-stroke: 1px #023047;

}

#showcase {
    border-radius: 30px;
}

.graph-container:hover {
    width: 180px;
    height: 180px;

    transition: width 1s, height 1s;
}


/*.graph:hover{
    width:200px;
    height:200px;

    transition: width 2s, height 4s;
}
*/