
.h1sm{
    text-align: center;
    color: #000305;

     
}

.mainContentsm {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: auto;
    padding: 40px 40px;
}

#sitemap{
    width: 550px;
    height: 550px;
 
}