/*Contact window Specific*/
.contact-window {
    top: 20%;
    left: auto;
    right: auto;
    width: 40%;
    height: 550px;
    min-width: 280px;
}

    .contact-window form * {
        margin: 5px 5px;
        height: 40px;
    }

    .contact-window .input-sm {
        width: 50%;
        min-width: 170px;
    }

#messageBox {
    width: auto;
    height: 250px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
 /*Confirmation window*/
#confirmationWindow {
    top: 40%;
}


/*Common*/
.window-title {
    height: 40px;
}

#windowContent {
    height: calc(100% - 40px);
    display: flex;
}

